{{ define "main" }}

{{partial "partials/carousel.html" . }}

<div id="about" style="margin: 0 5% 5% 5%; padding-top: 50px;">
    <div class="row mx-auto">
        <div class="col-md-12">
            {{range .Params.paragraphs}}
            <p class="lead justify-p" style="white-space: pre-line;"> {{.}}</p>
            {{end}}
        </div>

    </div>
    <hr>
</div>

{{ partial "partials/actions.html" . }}
{{ partial "partials/team.html" . }}
{{ partial "partials/offers.html" . }}
{{ partial "partials/section.html" . }}


{{ end }}